@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Playfair+Display:ital@1&display=swap');


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

