{% extends "base.html" %}
{% block content %}


<div class="container">
  <div class="row">
{% for recipe in recipes %}
  <div class="col s12 m5 l4 offset-m1 offset-l1 modal-container">
    <h3>{{ recipe.name }}</h3>
    <h5 class="modal-heading">Meal Type:</h5>
    <p>{{ recipe.meal_type }}</p>
    
    <a class="waves-effect waves-light btn pink darken-1 modal-trigger" href="#modal-{{ loop.index }}">Open here</a>
  </div>
    <!-- Modal Structure -->
    <div id="modal-{{ loop.index }}" class="modal">
      <div class="modal-content">
        <h5 class="modal-heading">Ingredients:</h5>
        <li>{{ recipe.ingredients }}</li>
        <p class="modal-heading">Tools:</p>
        <p>{{ recipe.tools }}</p>
        <p class="modal-heading">Directions:</p>
        <p>{{ recipe.directions }}</p>
        <p class="modal-heading">Cooking Time:</p>
        <p>{{ recipe.cooking_time }}</p>
        <p class="modal-heading">Servings:</p>
        <p>{{ recipe.servings }}</p>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect btn cynan lighten-1">Close</a>
      <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="modal-close waves-effect waves-green btn cynan lighten-1">Edit</a>
        <a href="" class="modal-close waves-effect waves-red btn red lighten-1">Delete</a>
    </div>
  </div>

  {% endfor %}
</div>
</div>
{% endblock %}