{% extends "base.html" %}
{% block content %}

<div class="modal-container">
  {% for recipe in recipes %}
    <h3>{{ recipe.name }}</h3>
    <h5 class="modal-heading">Meal Type:</h5>
    <p>{{ recipe.meal_type }}</p>
    <h5 class="modal-heading">Ingredients:</h5>
    <p>{{ recipe.ingredients }}</p>
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn pink darken-1 modal-trigger" href="#demo-modal">Open here</a>

    <!-- Modal Structure -->
    <div id="demo-modal" class="modal">
      <div class="modal-content">
        <p class="modal-heading">Tools:</p>
        <p>{{ recipe.tools }}</p>
        <p class="modal-heading">Directions:</p>
        <p>{{ recipe.directions }}</p>
        <p class="modal-heading">Cooking Time:</p>
        <p>{{ recipe.cooking_time }}</p>
        <p class="modal-heading">Servings:</p>
        <p>{{ recipe.servings }}</p>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn red lighten-1">Close</a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}